body{
    font-family: 'Microsoft YaHei';  
}
@charset "utf-8";
*{ 
    padding:0; 
    margin:0; 
    line-height:100%;
}
body{
    font-family: 'Microsoft YaHei';
    font-size:12px; 
}
a{ color:#333; 
    text-decoration:none;
}
ul,ol{ 
    list-style:none;
}
h1,h2,h3,h4,h5,h6{ 
    font-size:12px; 
    font-weight:normal;
}
b,strong{ 
    font-weight:normal;
}
i,em{ 
    font-style:normal;
}
img{ 
    vertical-align:top; 
    border:0;
}
table{ 
    border-collapse:collapse;
}
.clearfix:after{ 
    clear:both; 
    display:block; 
    content:'';
}
.clearfix{ 
    zoom:1;  /*IE低版本浏览器不支持after伪类所以要加这*/
}
table { 
    border-collapse:collapse; 
    border-spacing:0; 
}
fieldset,img { 
    border:0; /*有些浏览器默认这些标签有边框，所以要清除默认边框*/
    display:block;
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-style:normal; 
    font-weight:normal; 
    /*清除标签默认文本样式和加粗*/
} 
caption,th { 
    text-align:left; /*清除标签默认文本居中对齐*/
}