.box .nav_box .bj_color{
    background: #000;
    border:none;
    border-radius: 0;
    min-height: 80px;
    margin:0;
}
.box .nav_box .nav_list ul li a{
    color: #fff;
    display: block;
    min-height: 80px;
    line-height: 40px;
    padding:0;
    padding-top: 24px;
    font-size: 14px;
    min-width: 158px;
    text-align: center;
}
.box .nav_box .nav_list .left{
    float: left;
    min-height: 80px;
    width:632px;
}
.box .nav_box .nav_list .right{
    float:right;
    min-height: 80px;
}
/*part1*/
.part1{
    width:100%;
    /*background:#000;*/
    background:url(../images/bj1.png) no-repeat;
    background-size:100%;
    position:relative;
}
.part1 iframe{
    width:100%;
    height:100%;
    border:none;
}
.part1 .bj_img{
    width:100%;
    /*background:url(../images/bj1.png) no-repeat;*/
    background:rgba(0, 0, 0,0.7);
}
/*.part1 .part1_bj{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}*/
.part1 .part1_bj img{
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -133px;
    margin-left: -438px;
    z-index: 2;
}

#section10 a {
    padding-top: 60px;
}
#section10 a span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.part1 .icon{
    width:154px;
    height:34px;
    background:url(../images/icon.png) no-repeat;
    position:absolute;
    bottom:0;
    right:34px;
}
.part2 {
    width:100%;
    height:100%;
    position:relative;
}
.part2 .part2_bj{
    margin:0 auto;
    padding-top:20px;
    padding-bottom: 54px;
}
.part2 .position_down{
    position:absolute;
    top:30px;
    right:30px;
}
.part2 .position_down a{
    width:134px;
    height:42px;
    position:absolute;
}
.part2 .position_down .iphone{
    top:20px;
    left:20px;
}
.part2 .position_down .andriod{
    top:74px;
    left:20px;
}
.part3{
    width:100%;
    height:100%;
    background:#000;
}
.part3 img{
    margin:0 auto;
}
.part4{
    width:100%;
    height:100%;
    background:#000;
}
.part4 .pic_box .left{
    float:left;
    width:50%;
    height:704px;
    overflow: hidden;
}
.part4 .pic_box .left img{
    width:100%;
}
.part4 .pic_box .right{
    float:left;
    width:50%;
    height:704px;
    overflow: hidden;
}
.part4 .pic_box .right img{
    width:100%;
}
.part5{
    width:100%;
    height:100%;
    background:#000;
    padding:40px 0;
}
.part5 p{
    margin:0 auto;
    width:530px;
    text-align: center;
    margin-bottom: 12px;
    color:#888787;
    font-size: 16px;
}
.part5 p:nth-child(1){
    font-size: 26px;
}
.part5 p:nth-child(3){
    margin-bottom: 0;
}
.part6{
    width:100%;
    height:100%;
    background:#171617;
}
.part6 img{
    margin:0 auto;
}
.part7{
    width:100%;
    height:100%;
    background:#000;
}
.part7 .share{
    width:100%;
    height:96px;
    padding:20px;
}
.part7 .share .left{
    float:left;
}
.part7 .share .right{
    float:right;
}
.part7 .share .right a{
    width:48px;
    height:48px;
    display:block;
    float:left;
    margin-right: 16px;
    margin-top:20px;
}
.part7 .share .right a.weibo{
    background:url(../images/weibo.png) no-repeat;
}
.part7 .share .right a.qq{
    background:url(../images/qq.png) no-repeat;
}
.part7 .share .right a.weixin{
    background:url(../images/weixin.png) no-repeat;
}
.part7 .share .right a.phone{
    background:url(../images/phone.png) no-repeat;
}
.part7 .address{
    border-top:1px solid #fff;
    padding-top:20px;
}
.part7 .address p{
    color:#fff;
    margin-bottom: 28px;
    font-size: 14px;
    padding-left: 56px;
}